@use "./App.scss" as app;
@import "./colors.scss";

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 90vw;
	max-width: 1080px;
	margin: 32px 0;
	min-height: calc(100vh - 64px);

	nav {
		display: flex;
		align-items: center;
		gap: 32px;
		justify-content: space-between;
		border-radius: 16px;
		padding: 16px;
		color: var(--marineBlue);
		background: var(--magnolia);
		border-bottom: 1px solid var(--lightGray);

		.left {
			display: flex;
			align-items: center;
			gap: 16px;

			.clockIcon {
				@include app.centered-flex-row;
				width: 36px;
				height: 36px;
				border-radius: 50%;
				color: var(--magnolia);
				background: var(--marineBlue);

				& * {
					transition: all 0s;
				}
			}
		}

		.right {
			.settingsButton {
				@include app.centered-flex-row;
				cursor: pointer;
				width: 36px;
				height: 36px;
				border-radius: 50%;
				color: var(--white);
				background: var(--marineBlue);

				& * {
					transition: all 0s;
				}

				&:hover {
					color: var(--white);
					background: var(--purplishBlue);
				}

				&:focus {
					box-shadow: 0 0 0 2px var(--white) inset,
						0 0 0 2px var(--purplishBlue);
				}
			}
		}
	}

	main {
		display: flex;
		flex-direction: column;
		gap: 32px;

		.addedTimeZones {
			display: flex;
			flex-direction: column;
			gap: 32px;

			ul {
				display: flex;
				flex-direction: column;
				gap: 32px;

				li {
					margin: 0;
				}
			}

			.timezone {
				z-index: 0;
				position: relative;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				background: var(--white);

				.bottom {
					display: flex;
					gap: 16px;

					.left {
						flex-grow: 1;

						.timeAndDate {
							&.current {
								margin-top: 12px;
							}
							&.requested {
								margin-top: 16px;
							}
							.label {
								font-weight: 700;
								color: var(--purplishBlue);
							}
						}

						.timeline,
						.timeline {
							position: relative;
							@include app.centered-flex-row;
							margin-top: 8px;
							width: 100%;
							height: 4px;

							.line {
								pointer-events: none;
								border-radius: 4px;
								width: 100%;
								height: 1px;
								background: linear-gradient(
									to right,
									var(--marineBlue),
									#f4d35e,
									var(--marineBlue)
								);
								display: flex;
								align-items: center;
								justify-content: space-between;
							}

							.numbers {
								width: 100%;
								display: flex;
								align-items: center;
								justify-content: space-between;

								span {
									@include app.centered-flex-row;
									color: var(--lighterBlack);
									opacity: 0.32;
									font-size: 0.84em;
									width: 0px;
									transition: opacity 0.2s ease,
										scale 0.2s ease, color 0.2s ease;

									@media (max-width: 720px) {
										opacity: 0;
									}

									&.highlighted {
										font-weight: 600;
										scale: 1.32;
										opacity: 1;
										color: var(--purplishBlue);
									}
								}
							}

							.circle {
								position: absolute;
								border-radius: 4px;
								top: 50%;
								left: 0;
								translate: 0% -50%;
								min-width: 2px;
								height: 2px;
								background: var(--purplishBlue);
								overflow: hidden;
							}
						}
					}
					.right {
						@include app.centered-flex-row;
						min-width: 32px;
						button {
							@include app.centered-flex-row;
							cursor: pointer;
							width: 32px;
							height: 100%;
							min-height: 32px;
							color: var(--black);
							background: var(--lightGray);
							border-radius: 4px;

							&:hover,
							&:focus {
								color: var(--marineBlue);
								background-color: var(--lightBlue);
							}

							&:focus {
								box-shadow: 0 0 0 2px white inset,
									0 0 0 2px var(--purplishBlue);
							}
						}
					}
				}

				&.default {
					overflow: hidden;
					gap: 8px;
					$themeColor: var(--defaultTimeZoneColor);
					border: 2px solid $themeColor;
					border-radius: 8px;

					.top {
						.label {
							display: inline-flex;
							padding: 4px 12px;
							border-radius: 0 0 8px 0;
							color: var(--white);
							background: $themeColor;
						}
					}
					.bottom {
						display: flex;
						.left {
							padding: 0 0 16px 16px;
							display: flex;
							flex-direction: column;
							.timeAndDate {
								.label {
									color: $themeColor;
								}
							}

							.timeline {
								.line {
									.numbers {
										span {
											&.highlighted {
												color: $themeColor;
											}
										}
									}
								}
								.circle {
									background: $themeColor;
								}
							}
						}
					}
				}
			}

			.loaderContainer {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				gap: 8px;
				.spinner {
					color: var(--marineBlue);
				}
				.loaderText {
					font-size: 0.875rem;
					color: var(--marineBlue);
				}
			}
		}

		.titleContainer {
			position: relative;
			overflow: hidden;
		}
		.times {
			display: flex;
			flex-direction: column;
		}

		.addTimeZone {
			.addTimeZoneButton {
				all: unset;
				font-family: inherit;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				width: calc(100% - 8px - 8px);
				color: var(--alabaster);
				background: var(--marineBlue);
				padding: 8px;
				border-radius: 4px;
				box-shadow: 0 2px 0 0 var(--lightGray);

				&:hover {
					background: var(--purplishBlue);
				}
				&:focus {
					box-shadow: 0 0 0 2px white inset,
						0 0 0 2px var(--purplishBlue);
				}
			}
		}

		.bottomPart {
			display: flex;
			flex-direction: column;
			gap: 8px;

			.timeNow {
				color: var(--purplishBlue);
			}
			.timeDiff {
				.timePart {
					font-weight: bold;
				}
				.direction.ahead {
					color: #22c55e;
					border-radius: 4px;
				}

				.direction.behind {
					color: #ef4444;
					border-radius: 4px;
				}
			}

			.offsetTime {
				position: relative;
				display: flex;
				justify-content: space-between;
				min-height: 32px;
				gap: 8px;

				.left {
					line-height: 1.8;
					.offsetTimeInputGroup {
						display: inline-flex;
						margin-left: 8px;
						gap: 8px;

						.offsetTimeInput {
							max-width: 128px;
							height: 24px;
							border-radius: 4px;
							text-align: center;
							background: var(--lightGray);

							&:hover,
							&:focus {
								background-color: var(--lightBlue);
							}
						}
					}
				}
				.right {
					@include app.centered-flex-row;

					.resetOffsetButton {
						@include app.centered-flex-row;
						border-radius: 4px;
						cursor: pointer;
						width: 32px;
						height: 100%;
						color: var(--lighterBlack);
						background: var(--lightGray);

						&:hover,
						&:focus {
							color: var(--marineBlue);
							background-color: var(--lightBlue);
						}

						&:focus {
							box-shadow: 0 0 0 2px white inset,
								0 0 0 2px var(--purplishBlue);
						}
					}
				}
			}
		}
	}
}
