@use "./App.scss" as app;
@use "./colors.scss" as *;

.redirect-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}

.redirect-container {
	h2 {
		color: var(--marineBlue);
	}

	p {
		color: var(--lighterBlack);
	}

	.new-url {
		margin-top: 12px;
		font-weight: 600;
		color: var(--purplishBlue);
		padding: 2px 8px;
		border: 1px solid var(--purplishBlue);
		border-radius: 4px;
	}

	.countdown {
		margin-top: 24px;
		font-size: 0.75rem;
		color: var(--lighterBlack);

		span {
			font-weight: 700;
			color: var(--purplishBlue);
			font-size: 0.75rem;
		}
	}

	.redirect-button {
		@include app.centered-flex-row;
		cursor: pointer;
		height: 100%;
		min-height: 32px;
		color: var(--black);
		background: var(--lightGray);
		text-decoration: none;
		border-radius: 4px;

		&:hover,
		&:focus {
			color: var(--marineBlue);
			background-color: var(--lightBlue);
		}

		&:focus {
			box-shadow: 0 0 0 2px white inset, 0 0 0 2px var(--purplishBlue);
		}
	}
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
